---
layout: default
---
{% if page.tag%}
  <div class="blog list">
        <h1>Post con <small>#{{ page.tag }}</small></h1>

        {% for post in site.categories[page.tag] %}
          <div>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
            <h1>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            </p>
          </div>
          <div class="tags">
              {% assign sortedCategories = post.categories | sort %}
              {% for category in sortedCategories %}
                  <span class="tag">
                      <a href="/category/{{ category }}">#{{ category }}</a>
                  </span>
              {% endfor %}
          </div>
          
        {% endfor %}
  </div>
{% else %}
  {% for category in site.categories %}
  {% endfor %}
{% endif %}
